body {
    background: rgb(54, 42, 59);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.red {
    background: red;
    margin-right: 5px;
    padding: 10px;
}

.cyan {
    background: cyan;
    margin-right: 5px;
    padding: 10px;
}

.violet {
    background: violet;
    margin-right: 5px;
    padding: 10px;
}

.orange {
    background: orange;
    margin-right: 5px;
    padding: 10px;
}

.pink {
    background: pink;
    margin-right: 5px;
    padding: 10px;
}

.center {
    min-width: 400px;
    height: 400px;
    background: rgb(54, 42, 59);
    ;
    border-radius: 100%;
    transition: 0.2s ease-in-out all;
}

.color-hover {
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.text {
    padding: 10px;
    color: white;
}

.color {
    width: 120px;
    height: 30px;
    border-radius: 5%;
    margin-bottom: 30px;
}

.color:hover {
    cursor: pointer;
}

.color:last-child {
    margin-bottom: 0;
}